section.section.bosses
	.bosses__container.container 
		.bosses__content 
			.bosses__info
				h2.bosses__title Экспертность, порядочность #[br] и надежность. Нам доверяют.
				p.bosses__text Нашей команде очень важен результат и отзыв клиента. Если мы понимаем, что заказчик доволен, значит, мы встретимся снова.
				p.bosses__text Мы никогда не бросаем своих клиентов, решаем нестандартные задачи, работаем на перспективу. Можете прочитать отзывы, чтобы убедиться в этом. 
				p.bosses__text.bosses__text--dark Дальше — выбор за вами.

				//- .bosses__bottom 
				//- 	p.bosses__text.bosses__text--small Читать отзывы
				//- 	.bosses__icons 
				//- 		a.bosses__icon(href="", target="_blank")
				//- 			+imgSvg(`${assetsPath}/img/icon_yandex.svg`, '', 'image')
				//- 		a.bosses__icon(href="", target="_blank")
				//- 			+imgSvg(`${assetsPath}/img/icon_2gis.svg`, '', 'image')
				//- 		a.bosses__icon(href="", target="_blank")
				//- 			+imgSvg(`${assetsPath}/img/icon_google.svg`, '', 'image')
				//- 		a.bosses__icon(href="", target="_blank")
				//- 			+imgSvg(`${assetsPath}/img/icon_vl.svg`, '', 'image')

			.bosses__pic.bosses__pic--left 
				+img(`${assetsPath}/img/oleg.png`, '', 'image')
			.bosses__pic.bosses__pic--right 
				+img(`${assetsPath}/img/sergey.png`, '', 'image')